

  .headerSearch {
    height: auto;
    background-color: #fffcfc;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
  color: black;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 5px;
    /* left: 100px; */
    /* position: absolute; */
    width: 90%;
    margin: auto;
    /* max-width: 1324px; */
  

  
  }
  
  .headerIcon {
    color: lightgray;
    
  }
  
  .headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .headerSearchInput {
    border: none;
    outline: none;
  }
  
  .headerSearchText {
    color: rgb(5, 4, 4);
    cursor: pointer;
  }
  
  .date {
    position: absolute;
    top: 520px;
    z-index: 2;
    color: rgb(0, 0, 0);
  }
  
  .options {
    z-index: 2;
    position: absolute;
    top: 590px;
    background-color: white;
    color: #090101;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  }
  
  .optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  
  .optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
  }
  
  .optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: white;
    
  }
  
  .optionCounterButton:disabled {
    cursor: not-allowed;
  }
  
  